* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
	font-size: 18px;
    font-weight: 300;
	line-height: 1.8;
    letter-spacing: .02em;
	font-family: 'Roboto Condensed', sans-serif !important;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

a {
    display: inline-block;
    text-decoration: none;
}

.header-container {
    max-width: 1000px;
    margin: 0 auto;
}

.h1, h1 {
    font-size: 30px;
}

.h2, h2 {
    font-size: 30px;
    color: #444;
    text-align: center;
    font-weight: 400;
    margin: 0 0 10px;
}

.h3, h3 {
    font-size: 20px;
    line-height: 1.2;
    margin: 0 0 15px;
    font-weight: 400;
    letter-spacing: 2px;
}

.common-sec-heading {
    color: #630460;
    font-size: 35px !important;
    margin: 0 0 30px;
}


.h4, h4 {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0 0 15px;
}

img{
    max-width: 100%;
}

.header-inner {
    align-items: center;
}

.header-left img , .header-search-icon img {
    width: 30px;
    height: 30px;
}

.header-logo {
    overflow: hidden;
    height: 80px;
    text-align: center;
    display: flex;
    align-items: center;    
}

.header-subscribe {
    display: flex;
    align-items: center;
    padding-left: 60px;
}

.header-subscribe a {
    color: #000;    
    font-weight: 400;
}

.header-subscribe a:hover {
    text-decoration: none;
}

.header-right {
    display: flex;
    justify-content: space-between;
}


/*hero banner section start */

.hero-banner {
    background: url("../../img/top-banner.jpg");
    background-size: cover;
    margin-bottom: 20px;
}

.hero-banner__inner {
    padding: 90px 0 110px;
}
.hero-banner-content {   
    max-width: 480px;
    margin: 0 0 0 auto;
    background: #ffffff82;
    padding: 25px;    
    border-radius: 15px;    
}


.browse-category_content h3 {
    text-align: center;
}

/* .browse-category_content img {
    margin-bottom: 10px;
} */

.latest-recipes_content h3 {
    text-align: center;
    text-transform: uppercase;
}

.view-recipes {
    text-align: right;
}

.view-recipes a {
    text-transform: uppercase;
    color: #444;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 400;
}

a.vegitable_recipes {
    position: relative;
    padding: 5px 25px;
}

a.vegitable_recipes:after {
    content: '';
    position: absolute;
    background: url('../images/icons/shifting.png') no-repeat;
    height: 25px;
    width: 25px;
    background-position: center;
    background-size: contain;
    margin: 0 0 0 10px;
    display: inline-block;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  
  padding: 20px;
}

ul.post-meta {
    list-style: none;
}
h3.h3-heading {
    font-size :25px;
    
}

.latest-recipes_content img {
    margin-bottom: 15px;
}

.browse-category_content img {
    margin-bottom: 15px;
   
}
.text-dark{
    font-size: 20px;
}
table{
    width: 100%;
    padding:5px 10px;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    color:white;
    background: rgba(0,0,23,0.71);
    box-shadow: 0 0 10px black;
}
#content{
    padding-bottom: 60px;
}
#loading{
    display:none;
    width: 100%;
    padding:5px 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    color:white;
    background: rgba(0,0,23,0.71);
    box-shadow: 0 0 10px black;	
}
table td:nth-child(2n){
    width:50px;
    background: white;
    box-shadow: 0 0 10px white;
    color:black;
}
table td:nth-child(1n){
    text-shadow: 0 0 10px white;
}
