#sidebar-wrapper {
     margin-left: -250px; 
    left: 0;
    width: 250px;
    background: white;
    position: fixed;
    height: 300px;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.5s ease-in 0s;
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
    height: 100%;
    padding: 80px 15px 15px;
    top: 0;
  }
  #sidebar-wrapper ul {
    padding: 0;
    margin: 0;
    list-style: none;
    max-width: 100%;
  }
  .sidebar-nav {   
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #sidebar-wrapper input {
    width: 71%;
    display: inline-block;
  }
  #sidebar-wrapper > button {
    display: inline-block;
  }
  #sidebar-wrapper .from-group {
    display: flex;
    flex-wrap: wrap;
  }
  #sidebar-wrapper #menu-close {
    position: absolute;
    top: 0;
    right: 15px;
    padding: 0;
    line-height: normal;
  }
  .sidebar-nav li {
    line-height: 50px;
    text-indent: 20px;
  }

  .sidebar-nav li a {
    color: black;
    display: block;
    text-decoration: none;
  }

  .sidebar-nav li a:hover {
    color: black;
    background: rgba(255,255,255,0.2);
    text-decoration: underline;
  }

  .sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
  }

  .sidebar-nav > .sidebar-brand {
    height: 55px;
    line-height: 55px;
    font-size: 18px;
  }

  .sidebar-nav > .sidebar-brand a:hover {
    color: black;
    background: none;
    text-decoration: underline;
  }

  #sidebar-wrapper.active {
    left: 250px;
    width: 250px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
  }

  .toggle {
    margin: 5px 5px 0 0;
  }