/*
Theme Name: Food Recepies
Author:     Ayushi ahuja
Version:    1.0

*/
html,
body {
  margin: 0;
  padding: 0;
}
body,h1{
    font-family: 'Courier New', Courier, monospace ;
}
.site_footer{
    margin-top: 50px;
    width:100%;
    height:200px;
    color:white;
    
}
h6 ul{
    list-style: none ;
    text-align: center;
}
.navbar{
    margin-bottom: 0px;
}
.global-search{
    text-align: right;
    color: black;
}
.navbar-light .navbar-nav .nav-link,.btn-outline-success{
  font-size: 25px;
}
.navbar-nav>li {
    margin-left: 25px;
}
img {
  max-width: 100%;
  display: block;
  height: auto;  
}

.post-meta {
  padding: 0;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}